<h1 class="titulo titulo-principal">Login</h1>
<img src="/images/SIMPLES.png" alt="" class="logo-image">

<form action="/auth/login" method="post" class="form-container login-register">

    <div class=" input-container">        
        <label class="label">Nome</label>
        <input class="input" id="floatingInput" type="text" placeholder="Informe o nome..." name="nome">
    </div>

    <div class=" input-container">
        <label class="label">Senha</label>
        <input class="input" id="floatingPassword" type="password" placeholder="Informe o e-mail..."
            name="password" autocomplete="new-password">        
    </div>
    
    <button type="submit" class="bt bt-primary mt-3">Entrar</button>
</form>