<h1 class="titulo titulo-principal">Login</h1>

<img src="/images/SIMPLES.png" alt="" class="logo-image">

<form action="/auth/login" method="post" class="form-container login-register">

    <div class=" input-container">        
        <label class="label">E-mail</label>
        <input class="input" id="floatingInput" type="text" placeholder="Informe o e-mail..." name="email">
    </div>
    
    <button type="submit" class="bt bt-primary mt-3">Recuperar Senha</button>
</form>

{{!-- Pausado até assinar API de envio de e-mail --}}