*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Botões */
.bt{
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}
.bt-primary{
    background-color:#0984e3;
    color: #dfe6e9;
    transition: .5s;
}
.bt-primary:hover{
    background-color: #0966ad;
}
.bt-secondary{
    background-color: #636e72;
    color: #dfe6e9;
    transition: .5s;
}
.bt-secondary:hover{
    background-color: #4c5457;
}
.bt-tertiary{
    background-color: #6c5ce7;
    color: #dfe6e9;
    transition: .5s;
}
.bt-tertiary:hover{
    background-color: #5043af;
}
.bt-quarter{
    background-color: #e84393;
    color: #dfe6e9;
    transition: .5s;
}
.bt-quarter:hover{
    background-color: #bb3877;
}
.bt-alert{
    background-color: #fdcb6e;
    transition: 0.5s;
}
.bt-alert:hover{
    background-color: #fcc359;
}
.bt-delete{
    background-color: #d63031;
    color: #dfe6e9;
    transition: .5s;
}
.bt-delete:hover{
    background-color: #a12121;
}
.bt-send{
    background-color: #00b894;
    color: #f7f2f2;
    transition: .5s;
}
.bt-send:hover{
    background-color: #039174;
}
/* logo */
.logo{
    font-size: 24px;
}

.logo-header{
    width: 60px;
    margin-top: 16px;
    margin-left: 16px;
}

body{
    background-color: #fff;
    color: #2d3436;
}
:root{
    --titulo:"Roboto", sans-serif;
    --textos:"Montserrat", sans-serif;
}
header{
    margin-block: 0;
}

.titulo{
    font-family: var(--titulo);
}

.titulo-principal{
    padding-block: 24px;
    text-align: center;
    background-color: #f7f2f2;
    margin-bottom: 0;
}

/* Formulários */
.form-container{
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    margin: 0 auto;
    padding: 32px;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.login-register{
    width: 75%;
}

.label{
    font-family: var(--textos);
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dfe6e9;
    outline: transparent;
    /* caret-color: #dfe6e9; */
    margin-bottom: 24px;
    /* color: #dfe6e9; */
}

/* .option{
    background-color: #2d3436;
} */

/* menu do painel */
.menu-painel{
    background-color: #f7f2f2;
    padding-block: 16px;
    display: flex;
    justify-content: center;
}

.menu-painel a{
    color: #2d3436;
    border-radius: 4px;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    margin-left: 16px;
    padding-block: 8px;
    transition: .3s;
    align-items: center;
}

.menu-painel a:hover{
    transform: scale(1.1);
}

.bi{
    margin-right: 8px;
}

.btn{
    display: block;
}

/* seções */
.secao{
    display: grid;
    grid-template-columns: 200px auto;
    margin-right: 4px;
}

.lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 4px;
    gap: 8px;
}
.item-lista{
    border: 1px solid #dfe6e9;
    padding: 8px;
    border-radius: 8px;
    position: relative;
    height: 300px;
}
/*  */
.container-botoes-item-lista{
    display: flex;
    position: absolute;
    bottom: 8px;
}
.item-lista-clientes{
    height: 150px;
}

.contato-item-lista-clientes{
    display: flex;
    justify-content: space-between;
}

.icon-item-lista-cliente{
    color: #00b894;
    font-size: 24px;
}

.icon-item-lista-produto{
    color: #dfe6e9;
    font-size: 24px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* formulario da busca dos clientes */

.form-seach-cliente{
    display: flex;
    width: 100%;
    align-items: start;
    gap: 16px;
    width: 70%;
    margin: 0 auto;
}

.input-search-cliente{
    width: 100%;
}

.artigo{    
    border-left: 1px solid #dfe6e9;
    padding-inline: 16px ;
    padding-block: 16px;
    overflow-y: auto;
    scrollbar-width: none;
    height: 100vh;
}

.artigo-cliente{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.botoes-cliente{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 16px;
}

.botoes-cliente a, .botoes-cliente button{
    /* color: #dfe6e9; */
    font-weight: bold;
}

.lista-tecnicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.botoes-lista-tecnicos{
    display: flex;
}

.botoes-lista-tecnicos button{
    margin-left: 8px;
}

.botao-add-flutuante{
    position: absolute;
    right: 16px;
    top: 100px;
    color: #2d3436;
    text-decoration: none;
    border: #2d3436 2px solid;
    padding: 4px 8px;
    border-radius: 4px;
    transition: .5s;
    font-weight: bold;
}

.botao-add-flutuante:hover{
    background-color: #dfe6e9;
    color: #2d3436;
}

.message{
    text-align: center;
    border: 1px solid #dfe6e9;
    border-radius: 8px;
    margin: auto;
    background-color: #dfe6e9;
    color: #2d3436;
    position: absolute;
    bottom:50% ;
    left: 25%;
    font-size: 18px;
    padding: 16px;
    width: 50%;
    /* margin: 80px auto; */
}

.botoes-status-ordens{
    display: flex;
}

.select-status-ordens{
    display: flex;
    /* color: #dfe6e9; */
    align-items: start;
}

.select-status-ordens button{
    /* color: #dfe6e9; */
    font-size: 18px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 4px solid #dfe6e9;
    width: 250px;
    height: 250px;
    padding: 8px;
    margin: 8px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* font-weight: bold; */
    
}
/* Cards do papinel */
.card span{
    font-size: 24px;
    font-weight: bold;
}

.date-painel{
    display: flex;
    gap: 8px;
}

.date-painel form{
    border: 2px solid #dfe6e9;
    padding: 4px 8px;
    border-radius: 4px;
}

.date-painel input[type="date"]{
    background-color: transparent;
    border: none;
    /* color: #dfe6e9; */
    appearance: none;
    outline: none;
}

.qtd-ordens{
    color: #2d3436;
    background-color: #ffeaa7;
}

.ordens-abertas{
    background-color: #ff7675;
    color: #2d3436;
}
.ordens-concluidas{
    background-color: #a29bfe;
}
.ordens-entregues{
    background-color: #55efc4;
}
.ordens-atrasadas{
    color: #d63031;
}
.qtd-clientes{
    background-color: #6c5ce7;
    color: #dfe6e9;
}
.qtd-tecnicos{
    background-color: #d63031;
    color: #dfe6e9;
}
.qtd-administrador{
    background-color: #00b894;
    color: #dfe6e9;
}
.qtd-colaborador{
    background-color: #636e72;
    color: #dfe6e9;
}
.graficos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.graficos div{
    border: 2px solid #dfe6e9;
    border-radius: 8px;
    padding: 16px;
}
.paragrafos-infos{
    font-size: 24px;
}
footer{
    margin: 0px 0;
    text-align: center;
background: linear-gradient(137deg, rgba(247,242,242,1) 0%, rgba(255,255,255,1) 100%);

}

@media screen and (max-width : 450px){
    .secao{
        grid-template-columns: 80px auto;
    }
    .link-menu-painel-span{
        display: none;
        margin: 0 auto;
    }
    .lista{
        grid-template-columns: 1fr;
    }
    .select-status-ordens{
        flex-direction: column;
    }
    .select-status-ordens button{
        margin-top: 0;
    }
    .botao-add-flutuante{
        top: 20px;
    }
    .form-container{
        padding: 8px;
    }
    .select{
        border-radius: 8px;
    }
    .option{
        text-wrap: wrap;
    }

    .lista-tecnicos{
        grid-template-columns: 1fr;
    }
    .graficos{
        grid-template-columns: 1fr;
    }
    .paragrafos-infos{
        font-size: 18px;
    }
}
@media screen and (max-width: 415px){
    .botoes-status-ordens{
        display: none;
    }
}
